footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

footer > h1 {
  color: var(--main-color);
}

footer > h1 > span {
  font-size: 45px;
  cursor: pointer;
}

div.footer-images {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
  padding: 100px 50px 0 50px;
  position: relative;
}

div.footer-images > img {
  width: 12%;
}

div.footer-container {
  width: 100%;
  padding: 50px 50px 0 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main-color);
  color: white;
}

div.footer-logos {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.footer-logos > a {
  font-size: 40px;
  color: white;
  cursor: pointer;
}

div.footer-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
}

div.content {
  width: 25%;
}

div.content > p {
  padding: 15px;
  line-height: 25px;
  text-align: center;
}


div.content:last-child > span {
  width: 50%;
  float: left;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

div.footer-end {
  width: 90%;
  padding: 20px;
  text-align: center;
  background-color: #28383cff;
  border-radius: 30px 30px 0 0;
}